<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.hoxise.self.biz.dal.mapper.MovieContentsMapper">

    <resultMap id="BaseResultMap" type="cn.hoxise.self.biz.dal.entity.MovieContentsDO">
            <id property="id" column="id" />
            <result property="catalogid" column="catalogid" />
            <result property="relativePath" column="relative_path" />
            <result property="name" column="name" />
            <result property="classify" column="classify" />
            <result property="size" column="size" />
    </resultMap>

    <sql id="Base_Column_List">
        id,catalogid,relative_path,name,classify,size
    </sql>
</mapper>
